
<label for="name">
	<f:translate key="tx_bpwedding_domain_model_guest.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_bpwedding_domain_model_guest.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_bpwedding_domain_model_guest.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="personCount">
	<f:translate key="tx_bpwedding_domain_model_guest.person_count" />
</label><br />
	<f:form.textfield property="personCount" /><br />
<label for="personNames">
	<f:translate key="tx_bpwedding_domain_model_guest.person_names" />
</label><br />
	<f:form.textfield property="personNames" /><br />
<label for="meal1">
	<f:translate key="tx_bpwedding_domain_model_guest.meal1" />
</label><br />
	<f:form.textfield property="meal1" /><br />
<label for="meal2">
	<f:translate key="tx_bpwedding_domain_model_guest.meal2" />
</label><br />
	<f:form.textfield property="meal2" /><br />
<label for="meal3">
	<f:translate key="tx_bpwedding_domain_model_guest.meal3" />
</label><br />
	<f:form.textfield property="meal3" /><br />