<div class="row form-line">
	<div class="col-md-6">
		<div class="form-group">
			<label for="name">Dein Name</label>
			<f:form.textfield property="name" class="form-control" placeholder="Name" id="guest-name"/>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="phone">Deine Telefonnumer</label>
			<f:form.textfield property="phone" class="form-control" placeholder="Telefonnummer"/>
		</div>
	</div>
</div>
<br/>
<div class="row form-line">
	<div class="col-md-12">
		<div class="form-group full-size">
			<label for="email">Du hast eine eMail Adresse, hier ist der Platz dafür</label>
			<f:form.textfield property="email" class="form-control" placeholder="eMail"/>
		</div>
	</div>
</div>
<br/>
<div class="row form-line">
	<div class="col-md-12">
		<div class="form-group full-size">
			<label for="personCount">Wie viele Personen meldest du an?</label>
			<f:form.textfield id="person-count" type="number" property="personCount" class="form-control" placeholder="Personenanzahl"/>
		</div>
	</div>
</div>

<h2>Essenswünsche</h2>

<p>
	Jetzt zum spannenden Teil: Auf unserer Hochzeit wird es drei verschiedene Gerichte geben. Da sollte doch für jeden Geschmack was dabei sein.
	<ul class="no-bullet">
		<li>
			Für die richtigen Urloffer und alle die es werden wollen gibt es <b>Rindfleisch mit Meerettich</b>.
		</li>
		<li>
			Kein Meerettich? Dann ist sicher der <b>Sauerbraten mit Nudeln und Knödeln</b> was für dich.
		</li>
		<li>
			Gar kein Fleisch? Für dich haben wir leckere vegetarische <b>Karotten-Ricotta Knödelinos</b>.
		</li>
	</ul>
</p>


<div id="guest-details">
	<f:for each="{newGuest.guestDetailEntries}" key="id" as="guestDetail">
		<div class="row form-line guest-detail" id="guest-detail-{id}">
			<div class="form-group col-md-4">
				<f:form.textfield name="newGuest[guestDetailEntries][{id}][name]" id="guest-name-{id}" class="form-control" placeholder="Name"/>
			</div>
			<div class="form-group col-md-2">
				<label>möchte</label>
			</div>
			<div class="form-group col-md-4">
				<f:form.select name="newGuest[guestDetailEntries][{id}][meal]" class="form-control" options="{Rindfleisch:'Rindfleisch mit Meerettich', Sauerbraten:'Sauerbraten mit Nudeln und Knödeln', Vegetarisch:'Karotten-Ricotta Knödelinos'}"/>
			</div>
		</div>
	</f:for>
</div>

<h2>Was du uns noch sagen möchtest</h2>
<div class="row form-line">
	<div class="form-group col-md-12">
		<div class="form-group full-size">
			<f:form.textarea property="message" class="form-control"/>
		</div>
	</div>
</div>