<div class="form-group">
	<label for="name">Dein Name</label>
	<f:form.textfield property="name" class="form-control" placeholder="Name"/>
</div>

<div class="form-group">
	<label for="phone">Deine Telefonnumer</label>
	<f:form.textfield property="phone" class="form-control" placeholder="Telefonnummer"/>
</div>

<div class="form-group">
	<label for="email">Du hast eine eMail Adresse, hier ist der Platz dafür</label>
	<f:form.textfield property="email" class="form-control" placeholder="eMail"/>
</div>

<div class="form-group">
	<label for="personCount">Wie viele Personen meldest du an?</label>
	<f:form.textfield property="personCount" class="form-control" placeholder="Personenanzahl"/>
</div>

<h2>Essenswünsche</h2>

<p>
	Jetzt zum spannenden Teil: Auf unserer Hochzeit wird es drei verschiedene Gerichte geben. Da sollte doch für jeden Geschmack was dabei sein.
	<ul class="no-bullet">
		<li>
			Für die richtigen Urloffer und alle die es werden wollen gibt es <b>Rindfleisch mit Meerettich</b>.
		</li>
		<li>
			Kein Meerettich? Dann ist sicher der <b>Sauerbraten mit Nudeln und Knödeln</b> was für dich.
		</li>
		<li>
			Gar kein Fleisch? Für dich haben wir leckere vegetarische <b>Karotten-Ricotta Knödelinos</b>.
		</li>
	</ul>
</p>

<f:for each="{1,2,3,4,5,6}" as="id">
	<div class="form-group">
		<f:form.textfield property="email" class="form-control" placeholder="Name"/>
	</div>
</f:for>

<h2>Was du uns noch sagen möchtest</h2>
<div class="form-group">
	<f:form.textarea property="message" class="form-control"/>
</div>
