
	<form class="form-horizontal" method="post" id="login-form" action="index.php?id=6">
		<div class="form-group">
			<label class="sr-only" for="password">Bitte gib hier das Passwort ein</label>
			<div class="input-group">
				<input type="text" class="form-control" id="password" placeholder="Passwort" name="pass">
				<button type="submit" class="btn btn-primary">Anmelden</button>
			</div>
		</div>
		<div class="felogin-hidden">
			<input type="hidden" id="user" name="user" value="gaeste">
			<input type="hidden" name="logintype" value="login">
			<input type="hidden" name="pid" value="7">
			<input type="hidden" name="redirect_url" value="">
			<input type="hidden" name="tx_felogin_pi1[noredirect]" value="0">
		</div>
	</form>