Eine neuer Gast hat sich angemeldet.

<table>
	<tr>
		<td>Name</td><td>{guest.name}</td>
	</tr><tr>
		<td>Telefon</td><td>{guest.phone}</td>
	</tr><tr>
		<td>eMail</td><td>{guest.email}</td>
	</tr><tr>
		<td colspan="2"><b>Hat {guest.personCount} Personen angemeldet</b></td>
	</tr>
		<f:for each="{newGuest.guestDetailEntries}" key="id" as="guestDetail">
			<f:if condition="{guestDetail.name}">
				<tr>
					<td>{guestDetail.name}</td>
					<td>{guestDetail.meal}</td>
				</tr>
			</f:if>
		</f:for>
</table>