Eine neuer Gast hat sich angemeldet.

<table>
	<tr>
		<td>Name</td><td>{guest.name}</td>
		<td>Telefon</td><td>{guest.phone}</td>
		<td>eMail</td><td>{guest.email}</td>

		<td colspan="2"><b>Hat angemeldet</b></td>
		<td>Angemeldete Personen</td><td>{guest.personCount}</td>
		<td>Namen der Personen</td><td>{guest.personNames}</td>

		<td colspan="2"><b>Davon wollen</b></td>
		<td>Rindfleisch mit Meerettich</td><td>{guest.meal1}</td>
		<td>Sauerbraten</td><td>{guest.meal2}</td>
		<td>Vegetarisch</td><td>{guest.meal3}</td>

		<td colspan="2"><b>Nachricht an uns</b></td>
		<td colspan="2"><b>{guest.message}</b></td>
	</tr>
</table>