h1, h2, h3, h4 {
  font-family: $font-alternative;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}


h5 {
  font-weight: bold;
}

label {
  font-weight: normal;
}

ul.no-bullet {
  li {
    list-style-type: none;
  }
}

